@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// Typography
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$default-font: 'Roboto', sans-serif;


// platform colors
$color-primary: #96D2AA;
$color-accent: #0100CD;
