@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
// Typography
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$default-font: 'Open Sans', sans-serif;


// platform colors
$color-primary: #2CBAE7;
$color-accent: #0100CD;
