@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

// Typography
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Comfortaa', cursive;
$default-font: 'Roboto', sans-serif;


// platform colors
$color-primary: #2CBAE7;
$color-accent: #0100CD;
